/*
******* LP Grid *******
*/
.lp-grid {
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &.container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      &.no-right-gutter { padding-right:0; }
      &.no-left-gutter { padding-left:0; }
    }
    &.gutter-sm {
      &.container {
        padding-right: 5px;
        padding-left: 5px;
      }
      .row {
        margin-right: -5px;
        margin-left: -5px;
      }
      .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        padding-right: 5px;
        padding-left: 5px;
        &.no-right-gutter { padding-right:0; }
        &.no-left-gutter { padding-left:0; }
      }
    }
    &.gutter-md {
      &.container {
        padding-right: 10px;
        padding-left: 10px;
      }
      .row {
        margin-right: -10px;
        margin-left: -10px;
      }
      .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        padding-right: 10px;
        padding-left: 10px;
        &.no-right-gutter { padding-right:0; }
        &.no-left-gutter { padding-left:0; }
      }
    }
  
    @each $colNum in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .col-#{$colNum} {
        width: ($colNum / 12) * 100%;
      }
  
      .col-pull-#{$colNum} {
        right: ($colNum / 12) * 100%;
      }
      .col-push-#{$colNum} {
        left: ($colNum / 12) * 100%;
      }
      .col-offset-#{$colNum} {
        margin-left: ($colNum / 12) * 100%;
      }
    }
    .col-pull-0 {
      right: auto;
    }
    .col-push-0 {
      left: auto;
    }
    .col-offset-0 {
      margin-left: 0;
    }
    .container:before,
    .container:after,
    .row:before,
    .row:after {
      display: table;
      content: " ";
    }
    .container:after,
    .row:after {
      clear: both;
    }
    .center-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .pull-right {
      float: right !important;
    }
    .pull-left {
      float: left !important;
    }
    .content-pull-right {
      text-align: right;
    }
    .content-pull-left {
      text-align: left;
    }
    .content-pull-center {
      text-align: center;
    }
  
    @each $side in top, bottom {
      @each $sizeHeader, $size in (xs: .5, sm: 1, md: 2, lg: 3, xl: 4) {
        .gutter-#{$side}-#{$sizeHeader} {
          @if $side == top {
            margin-top: $size * 5px;
          }
          @else if $side == bottom {
            margin-bottom: $size * 5px;
          }
        }
      }
      @each $sizeHeader, $size in (xs: .5, sm: 1, md: 2, lg: 3, xl: 4) {
        .pad-#{$side}-#{$sizeHeader} {
          @if $side == top {
            padding-top: $size * 5px;
          }
          @else if $side == bottom {
            padding-bottom: $size * 5px;
          }
        }
      }
    }
  }